@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --black: #000000;
    --purple: #8000ff;
}

*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--purple);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--purple);  /* creates padding around scroll thumb */
  }

body{
    
    background: var(--black);
    background-repeat: no-repeat;
    height: 100%;
    max-height: 9000px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 2em;        
}

a{
    color: var(--purple);
}

main{
    height: 35em;
    display: flex;
    align-items: center;
    text-align: center;
}

p{
    font-size: 2em;
    color: rgb(55, 0, 255);
    border-top: solid var(--purple);
    border-bottom: solid rgb(55, 0, 255);
    border-radius: 1em;
    font-family: 'Lobster', cursive;
    padding: 2em;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    color: #80453b;
    font-size: 28px;
}

.iconesfooter1, .iconesfooter2{
    width: 2em;
    height: 2em; 
    
}

.iconesfooter1{
    margin-right: 2em;
    border-radius: 5em;
    border: #8000ff solid;
}

.iconesfooter2{
    margin-left: 2em;
    border-radius: 5em;
    border: #8000ff solid;
}

i{
    color: var(--purple);
}

@media screen and (max-width:768px) {
    p{
        font-size: 1em;
    }
}

