@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #ab7869;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ab7869;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(248, 167, 167);  /* creates padding around scroll thumb */
  }

body{
    background-image:linear-gradient(to top, #c9a59c, #c9a59c, #ebbca9, #80453b) ;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 4000px;
}

header{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #ffffff;
    
}

nav{
    font-size: 1.5em;
    word-spacing: 100px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6em;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    border-top: solid #ffffff;
    border-bottom: solid #80453b;
}

img{
    width: 10em;
    height: 10em;
    margin-top: 2em;
    border-radius: 5em;
    border-top: dashed #ffffff;
    border-bottom: dashed #80453b;
}



p{
    font-size: 2em;
    color: #ffffff;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    color: #80453b;
    font-size: 28px;
}

.iconesfooter1, .iconesfooter2{
    width: 2em;
    height: 2em; 
    
}

.iconesfooter1{
    margin-right: 30px;
}

.iconesfooter2{
    margin-left: 30px;
}

@media screen and (max-width:768px) {
    .front{
        font-size: 1em;
    }
}