@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --black: #000000;
    --purple: #8000ff;
}

*{
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--purple);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--purple);  /* creates padding around scroll thumb */
  }

body{
    background: var(--black);
    background-repeat: no-repeat;
    height: 100%;
    max-height: 4000px;
}

header{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #8000ff;
    
}

nav{
    font-size: 1.5em;
    word-spacing: 100px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6em;
    color: #8000ff;
    border-radius: 2em;
    border-top: solid #8000ff;
    border-bottom: solid #8000ff;
}

img{
    width: 10em;
    height: 10em;
    margin-top: 2em;
    border-radius: 5em;
    border-top: dashed #8000ff;
    border-bottom: dashed #8000ff;
}



p{
    font-size: 2em;
    color: #8000ff;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    color: #80453b;
    font-size: 28px;
}

.iconesfooter1, .iconesfooter2{
    width: 2em;
    height: 2em; 
    
}

.iconesfooter1{
    margin-right: 30px;
}

.iconesfooter2{
    margin-left: 30px;
}

@media screen and (max-width:768px) {
    .front{
        font-size: 1em;
    }
}